.dashboard {  
    border-radius: 20px;
    border-color: black;
    border: 10px black;  
    text-align: center;
    float: left;
    width: 30%;
    height:inherit ;
    background-color: rgb(172, 243, 202);
  
}

.agregarBtn{
    background-color: #4CAF50; 
    border: 1px solid;
    border-color: #4caf91;
    color: white;
    padding: 8px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20%;
    margin-top: 20px;
    margin-right: 10px;
}
.resultado {
    float: right;
    width: 70%;
    height: 100%;
    
    border-radius: 20px;
    background-color: rgb(171, 172, 165);
}
h1{
    height: 30px;
    color:rgb(46, 44, 44);
}
body , html{
    background: white;
    text-align: center;
    height: 100%;
    
}
.button {
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(17, 196, 106);  
    width: auto;
    border: none;
    border-radius: 10%;
    height: 30px;
}
.inputText {
    
    background-color: rgb(230, 252, 223);  
    width:90%;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
}
/*.inputText[type=text]:focus {
    
}*/
.botonMas{
    width: 100%;
    display: flex ;
    flex-direction: row;
    justify-content: flex-end;
}

.formPrincipal{
    height: 100%;
    display: grid;
  flex-direction: column;
  justify-content: flex-start;
}
.Tiradas{
    margin-top: 50px;
    overflow-y: auto;
    height:auto;
}
.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hexagrama{
    height: 250px;
    width: 200px;
    margin-left: 20px;
}
.table {
    width: 100%;
    height: 100%;
    border: solid;
    visibility: hidden ;
   
    background: rgb(147,245,147);
background: linear-gradient(180deg, rgba(147,245,147,1) 0%, rgba(0, 255, 123, 0.829) 100%);
}

td,tr{
    border: none;
}
.hexagrama, .table {
    border-radius: 20px;
    
   
}
.contentHexa{
    display: inline-flex;

}

.resultado .table_Hexagrama{
    height: 30%;
    margin-top: 5%;
}
.table_Hexagrama{
    background-image: url("../images/tabla.png") ;
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
    background-size:350px 200px;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
#tabla_hexa{
    width: 350px;
    height: 200px;
    padding-top: 32px ;
    padding-bottom: 10px;
    padding-left: 73px;
   
}

.selected{
    width: 28px;
    height: 13px;
    border: 1px solid;
    border-radius: 10%;
    border-spacing: 0px;
    border-color: aqua;
    background-color: rgba(0, 255, 255, 0.295);
}